@import '~@angular/material/theming';

@include mat-core();

$md-primary: (
    50 : #ffffff,
    100 : #fefefe,
    200 : #fefefe,
    300 : #fdfdfd,
    400 : #fcfcfc,
    500 : #fcfcfc,
    600 : #fcfcfc,
    700 : #fbfbfb,
    800 : #fbfbfb,
    900 : #fafafa,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
    )
);

$md-accent: (
  50 : #e2e2e2,
  100 : #b7b6b6,
  200 : #878686,
  300 : #565556,
  400 : #323031,
  500 : #0e0c0d,
  600 : #0c0a0b,
  700 : #0a0809,
  800 : #080607,
  900 : #040303,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-warn: (
  50: #fbe0e3,
  100: #f6b3ba,
  200: #f0808c,
  300: #ea4d5e,
  400: #e6263c,
  500: #e10019,
  600: #dd0016,
  700: #d90012,
  800: #d5000e,
  900: #cd0008,
  A100: #fff5f5,
  A200: #ffc2c2,
  A400: #ff8f90,
  A700: #ff7577,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$primary: mat-palette($md-primary, 500);
$accent: mat-palette($md-accent, 500);
$warn: mat-palette($md-warn, 500);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
