.pagination-previous {
  padding: 0 15px 0 0;
}

.pagination-next {
  padding: 0 0 0 15px;
}

.pagination-next,
.pagination-previous {
  font-weight: bold;
  cursor: pointer;
}

.divider {
  height: 30px;
}

.disabled {
  cursor: initial;
  pointer-events: none;
  a {
    color: #B2AEAF;
  }
}

.subtitle {
  color: #B2AEAF;
  font-weight: bold;
}

.items-container {
  margin: 5%;
}


@media only screen and (min-width : 480) {
  .item-info {
    margin: 0;
  }

  .hot-label {
    padding: 12px;
  }
}
