.tag {
  .clear-icon {
    color: #B2AEAF;
    font-size: 18px;
    height: 18px;
    width: 18px;
  }
  span {
    font-weight: bold;
  }
}

.product-list-header {
  margin: 0 5%;
}

.filter-button {
  border: 2px solid black;
  border-radius: 0;
  height: 38px;
}
